html {
  font-family: "Times New Roman", Times, serif;
  /* "Tangerine" "helvetica neue", helvetica, arial, sans-serif; */
}

* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b22222;
  font-family: "Tangerine";
  font-weight: 900;
  font-size: 2.5rem;
  color: black;
  padding: 25px;
}

#mainContainer {
  flex-grow: 1;
  background-color: #550000;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

button:hover {
  opacity: 60%;
}

#modalBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#modalBtn {
  height: 80px;
  width: 200px;
  background-color: #efbf04;
  border: 0;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 700;
}

#modalBtn:hover {
  opacity: 60%;
}

#dialogHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}

#dialogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  width: 330px;
  height: 400px;
  background-color: darkred;
  border: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
}

dialog.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#dialogForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputBox,
#submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  outline: none;
}

.inputBox,
#readContainer label,
#submitBtn {
  font-size: 1.75rem;
  font-weight: 750;
  gap: 15px;
}

#readContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

#readContainer label {
  color: black;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 15px;
}

#readInput {
  background-color: black;
  transform: scale(1.75);
}

#closeBtnContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

#closeBtn:hover {
  opacity: 60%;
}

#submitBtnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#submitBtn {
  color: black;
  background-color: darkgreen;
}

#submitBtn:hover {
  opacity: 60%;
  cursor: pointer;
}

#cardGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#cardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  width: 100%;
  gap: 25px;
}

.bookCard {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffe3;
  border-radius: 12.5px;
  font-size: 1.3rem;
  padding: 15px;
  font-weight: 600;
  height: 250px;
  width: 180px;
}

.bookRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bookCardButtonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.deleteBtn,
.readBtn {
  font-family: "Courier New", Courier, monospace;
  background-color: #ffffe3;
  border: none;
}

.bookCardDeleteContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.deleteBtn {
  justify-content: end;
  align-items: end;
  font-size: 1.1rem;
  font-weight: bold;
}

.bookCardBodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  font-size: 1.2rem;
  gap: 5px;
  padding: 10px;
}

.readBtn {
  background-color: red;
  width: 100%;
  height: 35%;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
}

.readBtn.read {
  background-color: green;
}

#footerContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100px;
  width: 100%;
  background-color: #b22222;
}

#footerAuthor {
  font-family: "Courier New", Courier, monospace;
}

.cardInfo {
  text-align: center;
  width: 100%;
}
