html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

th,
td {
  padding: 10px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

thead th {
  font-family: "Rock Salt", cursive;
}

caption {
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  padding: 25px;
  font-style: italic;
  color: #666;
  text-align: center;
  letter-spacing: 20px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#addBookBtn {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  border: 0.2rem solid black;
  cursor: pointer;
}

button:hover {
  opacity: 60%;
}

#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2rem;
}

form > *:nth-child(2n) {
  margin-right: 20px;
}
