html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

#tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
}

table {
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

th,
td {
  padding: 10px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

thead th {
  font-family: "Rock Salt", cursive;
}

caption {
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  padding: 25px;
  font-style: italic;
  color: #666;
  text-align: center;
  letter-spacing: 20px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#addBookBtn {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  border: 0.2rem solid black;
  cursor: pointer;
}

button:hover {
  opacity: 60%;
}

#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  width: 250px;
  height: 370px;
  background-color: gray;
  border: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0);
}

dialog.open {
  opacity: 1;
  transform: scale(1);
}

#dialogForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputBox,
#submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.inputBox,
#readContainer label,
#submitBtn {
  font-size: 1.05rem;
  color: grey;
  font-weight: 550;
}

#readContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

#readContainer label {
  color: black;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 15px;
}

#readInput {
  background-color: black;
  transform: scale(1.75);
}

#dialogHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#closeBtnContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

#closeBtn:hover {
  opacity: 60%;
}

#submitBtnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#submitBtn {
  color: black;
  background-color: lightgreen;
}

#submitBtn:hover {
  opacity: 60%;
  cursor: pointer;
}

#modalBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalBtn {
  height: 75px;
  width: 150px;
  background-color: burlywood;
  border: 0;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}

#modalBtn:hover {
  opacity: 60%;
}

#cardGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

#cardGrid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 75px;
  width: 100%;
  background-color: red;
}

.bookCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 600;
  margin: 20px;
}

#cardInfo {
}

.bookRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookCardButtonContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.deleteButton {
  width: 100%;
  height: 100%;
}
